# In eCAL_backend/requirements.txt

asgiref==3.8.1
dj-database-url==2.1.0
Django==5.0.6
django-cors-headers==4.3.1
django-filter==24.2
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
gunicorn==22.0.0
# --- THIS IS THE FIX ---
# Using the stable and compatible psycopg2 driver for Python 3.11
psycopg2-binary==2.9.9
sqlparse==0.5.0
tzdata==2024.1
whitenoise==6.7.0